<h1 style="text-align:center;">Champions</h1>
<div style="width: 100%;">
	<div style="width:50%; margin: auto;">
		<div class="blue ui fluid card">
		  <div class="image">
		    <%= image_tag "ucla.png"%>
		  </div>
		  <div class="extra content" style="text-align:center;">
		    2014
		  </div>
		</div>
	</div>
</div>
<br/>
<hr/>
<h3 style="text-align:center;">Previous Champions</h3>
<br/>

<div class="ui three column grid">
  <div class="column">
    <div class="red ui fluid card">
      <div class="image" style="height:225px;">
        <%= image_tag "usc.png" %>
      </div>
     	<div class="extra content" style="text-align:center;">
		    2013
		</div>
    </div>
  </div>
  <div class="column">
    <div class="grey ui fluid card">
      <div class="image" style="height:225px;">
        
      </div>
     	<div class="extra content" style="text-align:center;">
		    2012
		</div>
    </div>
  </div>
  <div class="column">
    <div class="grey ui fluid card">
      <div class="image" style="height:225px;">
        
      </div>
     	<div class="extra content" style="text-align:center;">
		    2011
		</div>
    </div>
  </div>
  <div class="column">
    <div class="blue ui fluid card">
      <div class="image" style="height:225px;">
        <%= image_tag "ucla.png" %>
      </div>
     	<div class="extra content" style="text-align:center;">
		    2010
		</div>
    </div>
  </div>
</div>