<h1>Future home of MedGames</h1>

<p>Welcome to Med Games 2015!</p>
<p>Presented by ???</p>

<p>Medical students from across California will compete in the annual Med Games put on by University of Southern California at ??? in Los Angeles, CA on ???.  Med Games promotes healthy living, wellness, and an active lifestyle among future physicians.</p>

<p>Most of a medical student's time is spent in class, in the lab, or sitting down studying.  It's easy to overlook the importance of personal fitness and wellness.  As future health care providers, we must lead by example in promoting a healthy lifestyle supported by regular exercise.  Med Games is a great opportunity to bring students together for a weekend of friendly competition, networking, and physical activity.</p>

<p>Med Games participants will compete in a series of competitions throughout the weekend.  Athletic events include soccer, flag football, basketball, volleyball, 4x 200 relay, a 5k run, dodgeball and a dance competition. </p>