<h1>Location</h1>
<p style="margin-bottom: -4px;">University Park Campus</p>
<p style="margin-bottom: -4px;">850 West 37th Street</p>
<p>Los Angeles, CA 90089</p>

<p><a href="https://www.google.com/maps/dir//University+of+Southern+California,+Los+Angeles,+CA,+United+States/@34.0218702,-118.2857969,16z/data=!4m12!1m3!3m2!1s0x80c2c7e49c71a5ed:0xaa905a5bb427a2c4!2sUniversity+of+Southern+California!4m7!1m0!1m5!1m1!1s0x80c2c7e49c71a5ed:0xaa905a5bb427a2c4!2m2!1d-118.285117!2d34.0223519">Click here for directions.</a></p>

<iframe src="https://www.google.com/maps/d/u/0/embed?mid=zDECjefOa5Qg.k4z_ULg8bBxo&z=16" width="640" height="480"></iframe>

<p style="margin-bottom: -5px;"><small>Green Markers show the 3 main event site locations.</small></p>
<p style="margin-bottom: -5px;"><small>Red Markers show the closest on-campus parking structures.</small></p>
<p style="margin-bottom: -5px;"><small>Red Lines show nearby street parking. Click lines for rates.</small></p>
<p><small>The Blue Star is where Registration will take place.</small></p>

<p>Most events happen in or around USC's Cromwell Field. Below are the specifics:</p>

<br/>

<p><strong>PED Building:</strong> Basketball, Dance, Dodgeball, & Volleyball</p>
<p><strong>Cromwell Field:</strong> Flag Football, Relay Race, 5K Run</p>
<p><strong>IM Field:</strong> Soccer</p>

<br/>

<p><strong>Registration</strong> will happen between Cromwell Field and the PED Building. The <strong>Awards Ceremony</strong> will be held at Cromwell Field at the conclusion of all events.</p>


<br/>

<h2>Parking</h2>
<p>The map above has recommended parking structures and street parking. On-campus parking structures are $10 for the day. Street parking is $1/hr for a maxiumum of 4 hours. There is free street parking located further from Cromwell Field, but it is usually full.</p>