<% @name = params[:name] %>
<% @name ||= "" %>
<% @school = params[:school] %>
<% @school ||= "" %>
<% @participation = params[:participation] %>
<% @participation ||= "" %>
<% if @participation == "Full" %>
<% @amount = '25' %>
<% elsif @participation == "Combo" %>
<% @amount = '15' %>
<% elsif @participation == "Shirt" %>
<% @amount = '8' %>
<% elsif @participation == "Food" %>
<% @amount = '8' %>
<% else %>
<% @amount = '25' %>
<% end %>
<% if @participation == "" %>
<% @url = 'https://venmo.com/?txn=pay&recipients=6029091046&amount=25&note=MedGamesParticipation&audince=private/' %>
<% else %>
<% @url = 'https://venmo.com/?txn=pay&recipients=6029091046&amount=' + @amount + '&note=' + @name + '_' + @school + '_MedGames_' + @participation + 'Option&audience=private/' %>
<% end %>
<h1 style="text-align:center;">Thank you for signing up for MedGames!</h1>
<h5 style="text-align:center;">You can pay either using the Venmo link below or on your phone to <u>Alexis Rounds at (602) 909-1046</u>.</h5>
<p style="text-align:center;"><em>If paying on phone, the cost per option is listed below.</em></p>
<ul>
<li>Full Participation (Sports, Shirt, & Food) - $25</li>
<li>Shirt & Food Combo - $15</li>
<li>Shirt Only - $8</li>
<li>Food Only - $8</li>
</ul>
<br/>
<div style="text-align:center;">
	<%= link_to image_tag("venmo.png", :size => "300x60"), @url, :target => "_blank" %>
</div>
<hr/>
<p style="text-align:center;"><em>Please take a minute to check out this amazing opportunity from one of our sponsors, Doximity</em></p>
<p style="text-align:center;"><a target="_blank" href="http://www.doximity.com/?cid=551">Receive a free portable iPhone or Android charger at USC MedGames with Doximity.</a> Use Doximity to connect with classmates and mentors, search residency programs, and receive relevant literature updates. As physicians-in-training, join the 2/3 of US physicians already registered on Doximity.</p>


<div style="margin-bottom: 150px;"></div>
