<h1 style="text-align:center;">Pay Now</h1>

<a href="https://venmo.com/?txn=pay&recipients=6029091046&amount=20&note=MedGames%20Participation%20for%20%5BName%2C%20School%5D&audience=private" style="float: left; margin-left: 100px;"><%= image_tag "venmo.png",  :style => "max-height:150px; max-width:250px;" %></a>



<img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_200x51.png" alt="PayPal" style="float: right; margin-right: 100px;"/>

<div style="margin-bottom: 150px;"></div>
