<h1 style="text-align:center;">Thank you for signing up for MedGames!</h1>
<h5 style="text-align:center;">You can either pay using Venmo or Paypal. If you would like to Paypal, the link is below. Otherwise please Venmo Alexis Rounds at (602) 909-1046 one of the following options:</h5>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" style="text-align:center;">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="on0" value="Participation Options">Participation Options<br/>
<select name="os0">
	<option value="Full Participation (Sports, Shirt, and Food)">Full Participation (Sports, Shirt, and Food) $25.00 USD</option>
	<option value="Shirt & Food">Shirt & Food $15.00 USD</option>
	<option value="Shirt Only">Shirt Only $8.00 USD</option>
	<option value="Food Only">Food Only $8.00 USD</option>
</select>
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIIQQYJKoZIhvcNAQcEoIIIMjCCCC4CAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAfUTRjJvh1VrMKPXpZd9A0kiaB2e71FjIoTHQckaAXQ/dLc502bGAHoHZxTwo0IhdMH9+fsr681+/Dk6lnvWSNoziEnWIVoxqZBKQXZnZ5davFgTUCPSw+HrYqrnWYeWqpPVp6kusgMnp9fWg44v7BFiES+T07bEe5tgAOtVNzuTELMAkGBSsOAwIaBQAwggG9BgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECNL30ZuMzCP6gIIBmJNLgFOyJBo8VfLWrmfr4w6wA7XyjaU9GQyjCwgVFELEzSy4AcrfLwczqVPfNtW84SyjyuPbqRZh+CBrZcExKpM2V7lbvrnxMaBrjmnUuDNdX/BFuVizyStA2/gIWnVRzdOF5kR1bGCabkaQxRkvhlK92ObjI1cOJ9IwUhl3jPidjZ1+9xkfkixtRI5sm9hVYCVGJ+60OtfysG9ebQusQDxiBM2HDP9JZKZ0JZ6KMHq55tLVvAvgRlqrPcSXp1Ffv3Wb4c80U8XuR7FIl86dPeCXZoF0rYjdR7EXV27P3ZC+JSt76s7voQafiu5KMbEXdW4eL82Rwe7psixQGaFm9fW7OdJ7J4a8Cs6O2fEEh75QrwJyhvlkhhEOqKOQJmZvpLHd4NSZ3MGAXtI0cc6DbyPIwgh22RCH12zyPg783aqLk60EfWMbdcYyqi5YS42yEb36vPUwip/kAvAOa/S3Y079iVfU1Ia97XpyecbwBmjR37ng9Xb8zDdfwrzKcldy2bP0T8k5CYxwhVC7HreR208RmtxHEV8DMqCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE1MDgzMTA5MjQ0MFowIwYJKoZIhvcNAQkEMRYEFC/wwCfrPkETHdl1yOAezJ06AtxlMA0GCSqGSIb3DQEBAQUABIGARyfM+Ijiz/204XLCaN672H+Yfz2Rem5/vSUjSGMXTsV0X1nNcmIFd5kQaZY2T5afoyIhlC3oCD6eE6CFxUAtmZ5QUHMvLc1a3nGNvctIlwYKrscFbWduWKOXsPOU1cE3bzZpo/5FdRaMFn9D2On6QSM+6gBKG+xWk5TrGsYOIQI=-----END PKCS7-----
">
<br/>
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<hr/>
<p style="text-align:center;"><em>Please take a minute to check out this amazing opportunity from one of our sponsors, Doximity</em></p>
<p style="text-align:center;"><a target="_blank" href="http://www.doximity.com/?cid=551">Receive a free portable iPhone or Android charger at USC MedGames with Doximity.</a> Use Doximity to connect with classmates and mentors, search residency programs, and receive relevant literature updates. As physicians-in-training, join the 2/3 of US physicians already registered on Doximity.</p>


<div style="margin-bottom: 150px;"></div>
