<script>
$(document).ready(function(){
    $('select.dropdown').dropdown();
    $('.ui.radio.checkbox').checkbox();
    $('.ui.checkbox').checkbox();
	$('.ui.form')
	  .form({
	  	revalidate: true,
	    first_name: {
	      identifier: 'first_name',
	      rules: [
	        {
	          type: 'empty',
	          prompt: 'Please enter your first name'
	        }
	      ]
	    },
	  	last_name: {
	  		identifier: 'last_name',
	  		rules: [
	  			{
	  				type: 'empty',
	  				prompt: 'Please enter your last name'
	  			}
	  		]
	  	},
	  	school: {
	  		identifier: 'school',
	  		rules: [
	  			{
	  				type: 'empty',
	  				prompt: 'Please select your school'
	  			}
	  		]
	  	},
	  	email: {
	  		identifier: 'email',
	  		rules: [
	  			{
	  				type: 'email',
	  				prompt: 'Please enter a valid e-mail'
	  			}
	  		]
	  	},
	  	diet: {
	  		identifier: 'diet',
	  		rules: [
	  			{
	  				type: 'checked',
	  				prompt: 'Please select a diet option'
	  			}
	  		]
	  	},
	  	signature: {
	  		identifier: 'signature',
	  		rules: [
	  			{
	  				type: 'empty',
	  				prompt: 'Please acknowledge that you have read and signed the waiver'
	  			}
	  		]
	  	},
      date: {
        identifier: 'date',
        rules: [
          {
            type: 'empty',
            prompt: 'Please date your signature'
          }
        ]
      },
      pay: {
        identifier: 'pay',
        rules: [
          {
            type: 'empty',
            prompt: 'Please select your participation option'
          }
        ]
      },
	  });
$("form").on('submit', function (e) {
   //ajax call here
  	var first = $('#first-name').val();
  	var last = $('#last-name').val();
  	var school = $('#school').val();
  	var email = $('#email').val();
  	var fivekrun = $('#5krun').prop('checked') ? "X" : "";
  	var basketball = $('#basketball').prop('checked') ? "X" : "";
  	var dance = $('#dance').prop('checked') ? "X" : "";
  	var dodgeball = $('#dodgeball').prop('checked') ? "X" : "";
  	var flagfootball = $('#flagfootball').prop('checked') ? "X" : "";
  	var relayrace = $('#relayrace').prop('checked') ? "X" : "";
  	var soccer = $('#soccer').prop('checked') ? "X" : "";
    var swimming = $('#swimming').prop('checked') ? "X" : "";
  	var volleyball = $('#volleyball').prop('checked') ? "X" : "";
  	var none = $('#none').val();
  	var vegetarian = $('#vegetarian').val();
  	var other = $('#other').val();
    var diet = $('input[name=diet]:checked').val();
  	var othertext = $('#othertext').val();
  	var signature = $('#signature').val();
    var date = $('#date').val();
    var pay = $('input[name=pay]:checked').val();
    var shirt = $('input[name=shirt]:checked').val();
  	if (first !== "" && last !== "" && school !== "" && email !== "" && (none !== "" || vegetarian !== "" || other !== "") && signature !== "" && date !== "" && pay !== "") {
            $.ajax({
                url: "https://docs.google.com/forms/d/1eg8uamz1dayiuF4ZqlhRkEcPcEW9NmjKSjdXoItfkcY/formResponse",
                data: { 
                "entry.734080887": first,
                "entry.1730237049": last,
                "entry.902623379": school,
                "entry.850945618": email,
                "entry.6328788": fivekrun,
                "entry.1892339281": basketball,
                "entry.518841102": dance,
                "entry.1046036799": dodgeball,
                "entry.6745501": flagfootball,
                "entry.1842719792": relayrace,
                "entry.1242483108": soccer,
                "entry.519882693": swimming,
                "entry.104834684": volleyball,
                "entry.1762470759": diet,
                "entry.1446796015": othertext,
                "entry.1945235658": signature,
                "entry.201162538": date,
                "entry.2141247672": pay,
                "entry.513873462": shirt

                },
                type: "POST",
                dataType: "xml",
                statusCode: {
                    0: function () {
                        window.location.replace("payments?name=" + first + "_" + last + "&school=" + school + "&participation=" + pay);
                    },
                    200: function () {
                        window.location.replace("registration");
                    }
                }
            });
    }
   //stop form submission
   e.preventDefault();
});

});

</script>
<h1>Registration</h1>
<em>If you have already registered and are looking to pay, please go <%= link_to 'here', payments_path %>.</em>
<hr/>
<form class="ui fluid form" id="registration-form">
  <div class="ui error message"></div>
  <div class="field">
    <div class="two fields">
      <div class="required field">
      	<label>First Name</label>
        <input type="text" id="first-name" name="first_name" placeholder="First Name">
      </div>
      <div class="required field">
      	<label>Last Name</label>
        <input type="text" id="last-name" name="last_name" placeholder="Last Name">
      </div>
    </div>
  </div>
  
  <div class="field">
	  <div class="required field">
		  	<label>School</label>
			<select class="ui dropdown" id="school" name="school">
				<option value = "">School</option>
				<option value = "UCD">UCD</option>
				<option value = "UCI">UCI</option>
				<option value = "UCLA">UCLA</option>
				<option value = "UCR">UCR</option>
				<option value = "UCSD">UCSD</option>
				<option value = "USC">USC</option>
				<option value = "WESTERN">Western</option>
			</select>
	  </div>

	  <div class="required field">
	  	<label>E-mail</label>
	  	<input type="email" id="email" name="email" placeholder = "example@school.edu">
	  </div>
  </div>

  <div class="required grouped fields">
    <label>Participation Option:</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" id="full" name="pay" tabindex="0" class="hidden" value="Full">
          <label>Full Participation (Sports, Shirt, & Food) - $25</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" id="combo" name="pay" tabindex="0" class="hidden" value="Combo">
          <label>Shirt & Food Combo - $15</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" id="shirt" name="pay" tabindex="0" class="hidden" value="Shirt">
          <label>Shirt Only - $8</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" id="food" name="pay" tabindex="0" class="hidden" value="Food">
          <label>Food Only - $8</label>
        </div>
      </div>
  </div>
  <br/>
  <div class="inline grouped fields">
    <label>Shirt Size: </label>
      <div class="two wide field">
        <div class="ui radio checkbox">
          <input type="radio" id="small" name="shirt" tabindex="0" class="hidden" value="S">
          <label>S</label>
        </div>
      </div>
      <div class="two wide field">
        <div class="ui radio checkbox">
          <input type="radio" id="medium" name="shirt" tabindex="0" class="hidden" value="M">
          <label>M</label>
        </div>
      </div>
      <div class="two wide field">
        <div class="ui radio checkbox">
          <input type="radio" id="large" name="shirt" tabindex="0" class="hidden" value="L">
          <label>L</label>
        </div>
      </div>
      <div class="two wide field">
        <div class="ui radio checkbox">
          <input type="radio" id="xlarge" name="shirt" tabindex="0" class="hidden" value="XL">
          <label>XL</label>
        </div>
      </div>
      <div class="two wide field">
        <div class="ui radio checkbox">
          <input type="radio" id="xxlarge" name="shirt" tabindex="0" class="hidden" value="XXL">
          <label>XXL</label>
        </div>
      </div>
      <div class="two wide field">
        <div class="ui radio checkbox">
          <input type="radio" id="xxxlarge" name="shirt" tabindex="0" class="hidden" value="XXXL">
          <label>XXXL</label>
        </div>
      </div>
  </div>

  <hr/>

  <div class="inline grouped fields">
  <label>Sports</label>
  <br/>
  <em>Please note you may only participate in these sporting events if you choose the full-participation option.</em>
  <br/>
  <br/>
    <div class="three wide field">
      <div class="ui checkbox">
        <input type="checkbox" id= "5krun" name="5krun" tabindex="0" class="hidden" value="X">
        <label>5K Run</label>
      </div>
    </div>
    <div class="three wide field">
      <div class="ui checkbox">
        <input type="checkbox" id="basketball" name="basketball" tabindex="0" class="hidden" value="X">
        <label>Basketball</label>
      </div>
    </div>
    <div class="three wide field">
      <div class="ui checkbox">
        <input type="checkbox" id="dance" name="dance" tabindex="0" class="hidden" value="X">
        <label>Dance</label>
      </div>
    </div>
    <div class="three wide field">
      <div class="ui checkbox">
        <input type="checkbox" id="dodgeball" name="dodgeball" tabindex="0" class="hidden" value="X">
        <label>Dodgeball</label>
      </div>
    </div>
    <div class="three wide field">
      <div class="ui checkbox">
        <input type="radio" id="flagfootball" name="flagfootball" tabindex="0" class="hidden" value="X">
        <label>Flag Football</label>
      </div>
    </div>
    <div class="three wide field">
      <div class="ui checkbox">
        <input type="checkbox" id="relayrace" name="relayrace" tabindex="0" class="hidden" value="X">
        <label>Relay Race</label>
      </div>
    </div>
    <div class="three wide field">
      <div class="ui checkbox">
        <input type="checkbox" id="soccer" name="soccer" tabindex="0" class="hidden" value="X">
        <label>Soccer</label>
      </div>
    </div>
    <div class="three wide field">
      <div class="ui checkbox">
        <input type="checkbox" id="swimming" name="swimming" tabindex="0" class="hidden" value="X">
        <label>Swimming</label>
      </div>
    </div>
    <div class="three wide field">
      <div class="ui checkbox">
        <input type="checkbox" id="volleyball" name="volleyball" tabindex="0" class="hidden" value="X">
        <label>Volleyball</label>
      </div>
    </div>
  </div>


	<hr/>

	<div class="required inline grouped fields">
  	<label>Dietary Restrictions</label>
  		<div class="two wide field">
	  		<div class="ui radio checkbox">
	  			<input type="radio" id="none" name="diet" tabindex="0" class="hidden" value="None">
	  			<label>None</label>
	  		</div>
	  	</div>
	  	<div class="two wide field">
	  		<div class="ui radio checkbox">
	  			<input type="radio" id="vegetarian" name="diet" tabindex="0" class="hidden" value="Vegetarian">
	  			<label>Vegetarian</label>
	  		</div>
	  	</div>
	  	<div class="two wide field">
	  		<div class="ui radio checkbox">
	  			<input type="radio" id="other" name="diet" tabindex="0" class="hidden" value="Other">
	  			<label>Other</label>
	  		</div>
	  	</div>
	</div>
	<div class="field">
    	<label>If other, please explain: </label>
    	<textarea rows="2" id="othertext"></textarea>
  	</div>
  	
  	<hr/>
  	
    <label>I have read the <%= link_to 'USC Lyon Center Waiver', root_url+'LyonCenterWaiver.pdf', {target: '_blank'} %>. I acknowledge that by entering my e-signature and the date below, I agree with the document. </label>
  	<div class="two fields">
      <div class="eleven wide required field">
        <label>E-Signature</label>
        <input type="text" id="signature" name="signature" placeholder="E-Signature">
      </div>
      
      <div class="five wide required field">
        <label>Date</label>
        <input type="date" id="date" name="date" placeholder="mm/dd/yyyy">
      </div>
  	</div>

  	<div class="ui submit button">Submit</div>
</form>


