<h1>Schools</h1>

<p>University of California Davis School of Medicine</p>

<p>University of California Irvine School of Medicine</p>

<p>University of California Los Angeles, David Geffen School of Medicine</p>

<p>University of California Riverside School of Medicine</p>

<p>University of California San Diego School of Medicine</p>

<p>University of Southern California, Keck School of Medicine</p>

<p>Western University of Health Sciences, College of Osteopathic Medicine of the Pacific</p>