<h1 style="text-align:center;">Sponsors</h1>
<br/>
<div style="text-align:center;">
	<%= link_to image_tag("memorang.png", :size => "500x150"), 'https://www.memorangapp.com/'%>
</div>
<br/>
<div style="text-align:center;">
	<%= link_to image_tag("picmonic.png", :size => "500x150"), 'http://www.picmonic.com/'%>
</div>
