<h1 style="margin-bottom:-25px;">5x5 Basketball Rules</h1>
<h5>University of Southern California Intramural Sports</h5>
<hr/>

1.  Games shall consist of 40 minutes divided into two halves of 20 minutes each.  Time will run continuously throughout the game, except for the final 2 minutes of the last half (only if the difference in score is less than 15 points) where the clock will stop on all dead balls.
<br/><br/>

2.  There will be a two minute half time.
<br/><br/>

3.  Each team will be awarded 3 timeouts for entire game and both  teams will be allowed only 1 timeout in last 2 minutes of second half. 
<br/><br/>

4.  The score will be kept on the score sheet provided by the RecSports Dept.  The RecSports score sheet will be considered the official score.
<br/><br/>

5.  Official forfeit time is 5min after scheduled game time.  Each team must have 4 players to start the game. A team may have a maximum of 20 members on its roster.
<br/><br/>

6.  If the game is tied after regulation time, continuous 2 minute overtimes will be played until there is a winner. There will be only one time out allowed per overtime period, and the clock will be stopped during the last minute of each overtime period.
<br/><br/>

7.  The bonus free throw rule will be in effect on the 7th team foul in each half.  The 10th team foul shall result in awarding 2 bonus free throws.
<br/><br/>

8.  Substitutions may be made when the ball is dead: fouls, jump balls, out of bounds, and time outs.  They must report to the scores table and wait to be beckoned onto the court by the official.
<br/><br/>

9. Team captains are required to check any questionable ineligible players through the Recreational Sports office.  ¬ All players should be prepared to present their current USC ID or license/State Id.
<br/><br/>

10. Officials can call a technical on the bench (2 shots) for any verbal abuse or actions threatening to the official. Technical fouls are recorded as a personal foul and a team foul. Two technical fouls merits ejection for the player. Three technical fouls on one team will result in that team forfeiting the game.
<br/><br/>

11. The supervisor has the authority to forfeit any game where he/she feels the players or spectators can no longer conduct themselves in an appropriate manner.
<br/><br/>

12. The official shall have the power to make decisions on any point not specifically covered in the rules.  Only team captains can confer with officials on interpretations of the rules.  No conference will be allowed¬ on an officials judgment.
<br/><br/>

13. Dunking the ball is permitted only during the game, not during warm-ups or half time. The penalty will be a technical foul (2 shots).
<br/><br/>

14. Mercy Rule: If a team in ahead by 40 or more points with 10 minutes left in the second half of the game, the opposing team will forfeit the game.
<br/><br/>

16. There is no visible jewelry allowed during the game. 
<br/><br/>

