<h1 style="margin-bottom:-25px;">6x6 Dodgeball Rules</h1>
<h5>University of Southern California Intramural Sports</h5>
<hr/>
1. Game begins by placing the dodgeballs along the center line – three (3) on one side of the center hash and three (3) on the other. Players then take a position behind their end line. Following a signal by the official, teams may approach the centerline to retrieve the balls. This signal officially starts the contest. Teams may only retrieve the three (3) balls to their right of the center hash. Once a ball is retrieved it must be taken behind the attack-line before it can be legally thrown. 
<br/><br/>

2. An out is scored by:
<br/><br/>
<div style="margin-left:20px; font-size: 13px;">
a. Hitting an opposing player with a live thrown ball below the shoulders.  Note: If a player ducks and this clearly is the cause for the player being hit above the shoulders, the player is out and the throw is legal. If a player is hit in the face with a ball without ducking, no players are eliminated.
<br/><br/>
b. Catching a live ball thrown by your opponent. (The person who threw the ball is out) Catching a live ball allows you to bring a player from your team back into the game.
<br/><br/>
c. Causing an opponent to drop a live ball as a result of contact by another thrown live ball. (Usually occurs when a ball is being used to block a thrown ball.)
<br/><br/>
d. Crossing the center line.
<br/><br/>
e. If a player gets hit with the ball after it has hit the wall, that player is not out. 
<br/><br/>
f. If a player tries to catch a ball and the ball hits the wall, the ball is dead, and the player is out. Note: A ball rebounding off an attempted catch may be caught before touching the floor or wall by any legal player in bounds on the “hit” player’s team. Result: The thrower is out.
<br/><br/>
g. 2 players cannot be eliminated from one throw. If a thrown ball deflects off two people from the same team, only the first person to be hit will be out.
<br/><br/>
h. If a player steps on or over the center line. Note: A player may reach over the center line to retrieve a ball as long as they don’t step on or over the center line.
<br/><br/>
i. Once a player is out, that player will sit along the side or back wall. They are not allowed to interfere with the play by touching the balls.  If a ball has landed next to them, do not touch the ball!
</div>
<br/>
3. A player may block a thrown ball with a ball being held, provided the held ball is not dropped as a result of the contact with the thrown ball.  Note: A ball deflecting off a held ball and striking the holder or any other player is no longer a live ball. 
<br/><br/> 
4. Rule of thumb: A ball is dead when it strikes/deflects of the wall, ceiling, floor, or hand held ball.  The play is live if it strikes/deflects a player’s body part from the shoulders down.


