<h1 style="margin-bottom:-25px;">6x6 Flag Football Rules</h1>
<h5>University of Southern California Intramural Sports</h5>
<hr/>

<strong>Length of Game</strong>
<br/>
1. Periods
<div style="margin-left: 20px;">
a. Two halves of 20 minutes running time shall constitute the game.
<br/><br/>
b. The officials will notify both team captains when there are two minutes remaining in the game. At that
point, eight total, consecutive plays from scrimmage will be run to complete the game (including punts).
Extra-point attempts will not be considered as "Plays." If one team is ahead by twenty-two or more points
with two minutes or less left in the game, the clock will run continuously until the end of the game.
<br/><br/>
c. No more than 25 seconds will be allowed between plays (after the ball is spotted until the quarterback
starts the play). The on-field official will keep track of the play clock.
</div>
<br/>

2. Time Outs
<div style="margin-left: 20px;">
a. Each team will be allowed a maximum of 1 time out per half. The time out will constitute 60 seconds.
<br/><br/>
b. The officials can hold up a game for injuries, equipment repair, in cases where the ball cannot be put into
play in a reasonable length of time or at any other time they deem necessary.
<br/><br/>
c. There shall be a 3-minute intermission between halves of the game.
</div>
<br/>

<strong>Scoring</strong>
<br/>
1. Touchdown -- 6 points (any part of the ball is on or over the goal line).
<br/><br/>
2. Point(s) after touchdown -- 1 point from the 5-yard line. 2 points from the 10-yard line.
<br/><br/>
3. Interceptions on Point(s) after touchdown
<div style="margin-left: 20px;">
a. If the defense intercepts the ball on the point after touchdown, the defense may return the ball for a
and receive as many points as the team was going for on offense. If the defense does not
score a “touchdown” they still start in the middle of their first zone and play will begin.
</div>
<br/>
4. Safety -- 2 points (after the safety a “kick-off” takes place and the team awarded the points for the safety receives the ball in the middle of their defensive zone).
<br/><br/>

5. Tie Game
<div style="margin-left: 20px;">
a. Counts as a half win for both teams in league play.
<br/><br/>
b. In playoffs, the game will be resolved by the following method:
<div style="margin-left: 20px;">
i. coin flip determines choice of offense or defense.
<br/>
ii. ball is placed on defensive 7.5 yard line.
<br/>
iii. team "A" has 4 downs to score (1st and goal situation).
<br/>
iv. team "b" has 4 downs to score (1st and goal situation).
<br/>
v. extra points will be played out (III B).
</div>
<br/>
c. Total score will count. If the score is still tied, repeat the procedure until a winner is determined (The
team who was on offense starts the next overtime on defense).
<br/><br/>
d. Interceptions can be returned for a touchdown. If the team that intercepts the ball is "tackled" before
returning the ball for a touchdown, they retain possession and begin their series of plays (if necessary)
from the 7.5 yard line.
<br/><br/>
e. Starting from the third overtime, offenses must go for two upon scoring a touchdown.
</div>
<br/>

<strong>Players</strong>
<br/>
1. Six players shall constitute a team. A team must have at least 5 players to begin, but may continue with less than
5 after play has begun. A team must have at least 4 players to continue.
<br/><br/>
2. Game time is forfeit time. A team not ready to play with 5 at the scheduled game time must forfeit the contest( 5-Min Grace Period). Two teams not ready to play is a double forfeit.
<br/><br/>
3. Unlimited substitutions are allowed as long as there is no delay of game, and each player is listed on the
official roster. Players may only enter or exit the field of play on their designated sideline for substitutions.
<br/><br/>
4. The offensive team must have all players in the huddle or on the field in an obvious manner. No sleeper plays are allowed.
<br/><br/>
<strong>Playing Regulations</strong>
<br/>
1. Starting Game
<div style="margin-left: 20px;">
a. A coin is to be flipped to decide preference for possession and for choice of goals. A team that wins the
first half coin toss may defer its choice to the second half.
<br/><br/>
b. Before the start of the second half, the loser of the pregame toss or the team that deferred its choice to
the second half shall have choice of the possibilities above. The other team shall then have the
remaining choice.
<br/><br/>
c. There will be no kick-offs. The ball will be placed in the middle of the offense's first zone and play will
begin from there.
</div>
<br/>
2. Fumbles
<div style="margin-left: 20px;">
a. The ball shall be considered dead when it hits the ground. It remains the possession of the team
fumbling it, at the point of the fumbler's greatest forward progress (not where the ball hits the ground).
<br/><br/>
b. If the ball is caught in mid-air, not having touched the ground, the offense or defense may advance the
ball.
<br/><br/>
c. Intentional forward fumbles will be a 10-yard penalty from the spot of the fumble.
</div>
<br/>
3. First Downs
<div style="margin-left: 20px;">
a. Four downs shall be allowed to advance the ball into the next zone for a first down.
<br/><br/>
b. Consider Zones 1, 2, and 3 and first-down markers A and B that separate the zones. Should a team
move into Zone 2 from Zone 1 by crossing marker A (and get a first down) and then lose yardage on a
subsequent play that drops the team back into zone 1, crossing marker A again will not award another
first down. The team must cross marker B into zone 3 to get a new set of downs.
</div>
<br/>

4. Downed Ball- -“Tackling”
<div style="margin-left: 20px;">
a. A person is considered “tackled” when his flag is removed by an opposing player. The ball will be spotted at the point where the ball was when the flag was removed.
<br/><br/>
b. The “tackler” should immediately drop the flag.
<br/><br/>
c. Any pushing, holding, tackling, or roughing will constitute a 10-yard penalty from the spot of the foul.
<br/><br/>
d. If any part of the ball carrier’s body, excluding feet and hands, touch the ground, he is considered tackled
at that point.
<br/><br/>
e. Flag Guarding: The ball carrier may not protect his flag in any way or form of straight arming, flag
guarding with the forearm or ball, running with his head down, or running into a defender purposely. The
ball carrier also may not dive for yardage, hurdle, or leap in such a way that drastically changes the
elevation of the flags in an unfair manner. These will constitute a flag guarding penalty, enforced from the
spot of the foul.
<br/><br/>
f. If a defensive player pulls a receiver’s flag before he catches a pass, the pass will be complete to where
he caught the ball plus an additional 10 yards or half the distance.(Defensive Pass interfere)
<br/><br/>
g. If an offensive player knocks his own flag off before catching a pass, the ball is dead where the receiver catches the ball.
</div>
<br/>

5. Passing
<div style="margin-left: 20px;">
a. All players are eligible to receive passes and laterals 
<br/><br/>
b. A “forward pass” shall be defined as any ball thrown forward of the passer that must pass the line of
scrimmage before it is caught. This can be done either overhand or underhand.
<br/><br/>
c. Receivers need only one foot inbounds for a legal catch.
<br/><br/>
d. All double passes behind the line of scrimmage are illegal, each team is allowed only 1 Legal Forward pass per set of plays. The ball may be lateralled backwards at any time behind or past the line of scrimmage. 
</div>
<br/>

6. Snapping
<div style="margin-left: 20px;">
The ball must be snapped backwards and off the ground. The ball need not be snapped between the center’s legs, but the center cannot have his/her feet over the scrimmage line. In a legal snap, the movement must be a quick and continuous motion of the hand or hands backwards. 
The player who receives the snap must be at least two (2) yards behind the offensive scrimmage line.
</div>
<br/>
7. Blocking
<div style="margin-left: 20px;">
a. THERE SHALL BE NO BLOCKING
<br/><br/>
b. The rusher cannot be blocked (The rusher has must wait for the head official hand to drop before they can rush. This is a 3 second count that will be kept by the head official)
<br/><br/>
c. The defensive players may not use any “bump and run” tactics on the receivers. If the defensive player
causes any contact, it will be an automatic pass interference call, regardless of whether the ball is in the
air or not.
<br/><br/>
d. Once a teammate has caught a pass, the other members of his team may not interfere in anyway, (i.e.
block) with the defensive targeting of the flag. Penalty: 10 yards from the point of infraction and loss of
down.
</div>
<br/>

8. “Free” Punt
<div style="margin-left: 20px;">
a. A team desiring to punt must inform the official and inform the opponents.
<br/><br/>
b. There will be no rushing on a punt. The team receiving the punt must have at least 3 men on the line of
scrimmage when the ball is punted. The defense may not attempt to block the kick.
<br/><br/>
c. There shall be no “quick kicks.” Officials use judgment at the placement of ball on punts going out of
bounds.
<br/><br/>
d. A punt must be declared by the punting team - NO FAKE PUNTS!!! A team can only change its mind after a penalty or timeout.
<br/><br/>
e. The defense may not rush the punter.
<br/><br/>
f. The punt must be executed within five seconds.
<br/><br/>
g. The punting team cannot move until the ball is kicked.
<br/><br/>
h. A punted ball that hits the ground may be advanced, but it must be fielded cleanly or it will be ruled dead.
<br/><br/>
i. If the ball is touched before it hits the ground, it is a dead ball.
</div>
<br/>

9. Scrimmage
<div style="margin-left: 20px;">
a. The offensive team must line up with at least 3 men on the line of scrimmage on each offensive play.
<br/><br/>
b. More than 3 men may line up on the line of scrimmage.
<br/><br/>

c. The defensive team is allowed to rush only one person. The rusher must delay 3 seconds after the
The head official will have his hand raised and drop it after the 3 seconds have elapsed, upon which the rusher may cross the line. The rusher must attempt to go after the quarterback’s flags. If he attempts to block the pass and touches the quarterback (regardless of whether or not the pass is blocked) it will be an “unnecessary roughness” penalty. 
<div style="margin-left: 20px;">
Penalty: 10 yards from the line of scrimmage.
</div>
</div>
<br/>

11. Player Conduct
<div style="margin-left: 20px;">
a. Any personal foul or unsportsmanlike conduct that is ruled intentional by the official will lead to an
automatic ejection of the guilty player(s) and a 10-yard penalty. No warnings are necessary.
</div>
<br/>

12. Penalties
<div style="margin-left: 20px;">
a. Loss of 5 Yards:
<div style="margin-left: 20px;">
i. Required equipment worn illegally. LOS
<br/>
ii. Delay of game. LOS -Dead ball Whistle
<br/>
iii. Illegal snap. False start. LOS- Dead ball Whistle
<br/>
iv. Encroachment LOS Dead ball Whistle.
<br/>
v. Illegal procedure. LOS
<br/>
vi. Illegal forward pass (5 yards from point of pass and loss of down). POI
<br/>
vii. Intentional grounding (5 yards from POI and loss of down). POI
<br/>
viii. Helping the runner POI
</div>
<br/>

b. Loss of 10 Yards
<div style="margin-left: 20px;">
i. Off pass interference. (Loss of down). Def pass interference. (Auto 1st down). POI
<br/>
ii. Unsportsmanlike conduct. (May result in Disqualification). LOS (not auto 1st down)
<br/>
iii. Spiking or not returning the ball to the official. LOS
<br/>
iv. Roughing the passer (Automatic 1st down). Added to end of run
<br/>
v. Flag guarding, stiff arming, 2 spins on 1 player. POI
<br/>
vi. Personal foul (Holding, tripping, pushing, tackling or running over player) Added to end of run
<br/>
vii. Crossing. LOS
<br/>
viii. Blocking
</div>
</div>

